{
	"presets": ["next/babel"],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["."],
				"alias": {
					"@styles": "./styles",
					"@assets": "./public",
					"@pages": "./pages",
					//   "@utils": "./utils",   // will connect to all utiliy related functions
					"@components": "./components", // to all defined components
					//   "@widgets": "./components/widgets",  //  to all defined widget components
					//   "@redux": "./redux" //  redux related files like-  actions, reducers
					"@plugins": "./plugins"
				}
			}
		]
	]
}
