@import "tailwindcss/base";
/* Write your own custom base styles here */

/* Start purging... */
@import "tailwindcss/components";
/* Stop purging. */

.divider__line-through {
	display: table;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 2px;
	position: relative;
	text-align: center;
	width: 85%;
	margin: 0px auto 1em;
	&::before,
	&::after {
		content: "";
		display: table-cell;
		position: relative;
		top: 0.8em;
		width: 40%;
		border-top: 1px solid #a3bffa;
	}
}

input [type="text"][type="email"][type="password"]{
	height: 44px !important;
}

button:focus {
	outline: transparent;
}

@import "tailwindcss/utilities";

@font-face {
	font-family: "Gilroy";
	font-weight: 400;
	src: url("../public/fonts/Gilroy-Light.woff") format("woff");
}

@font-face {
	font-family: "Gilroy";
	font-weight: bold;
	src: url("../public/fonts/Gilroy-Bold.woff") format("woff");
}

/* Start purging... */
@import "tailwindcss/utilities";
/* Stop purging. */